<template>
                  <div >
                    <div>
                         <table class="table">
                                <tr>
                                    <td>{{ this.trans.select_plan }}</td>
                                    <td>  
                                    <select id="plan" v-model="selected" class="form-control" v-on:change="onChange">
                                          <option v-for="(plan, index) in plans" v-bind:value="index">
                                                    {{ plan.name }}
                                          </option>
                                    </select>
                                    </td>
                                </tr>
                         </table>
                      
                        <div v-if="selected !==null" class="mt-10">
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                            <th>{{ this.trans.plan_type }}</th>
                                            <th>{{ this.trans.investment_duration }}</th>
                                            <th>Principal Return</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ this.plan.plantype.plantype }}</td>
                                        <td>{{ this.plan.duration }} {{ this.plan.duration_key }}</td>
                                        <td >
                                            <span v-if="this.plan.principle_return === 0" class="success"> NO </span>
                                            <span v-else>YES</span>
                                        </td>
                                     </tr>
                                </tbody>
                                
                            </table>
                        </p>
                        <p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                            <th>{{ this.trans.min_desposit }} ({{ this.trans.currency}})</th>
                                            <th>{{ this.trans.max_deposit }} ({{ this.trans.currency}})</th>
                                            <th>{{ this.trans.interest_rate }} (%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ this.plan.min_amount }}</td>
                                        <td>{{ this.plan.max_amount }}</td>
                                        <td>{{ this.plan.interest_rate }}</td>
                                     </tr>
                                </tbody>
                                
                            </table>
                        </p> 
                        </div>
                        <div v-if="selected !==null" >
                            <p >
                            {{ this.trans.investment_amount }} : 
                                                        <span style="font-size:150%; color:#282828; font-weight:600">
                                                            {{ amount }} 
                                                        </span> <span> ({{ this.trans.currency}})  </span>
                            </p>
                            <div class="form-group">
                                            <input id="rangeslider" name="amount" type="range"  
                                                    :min="this.plan.min_amount" 
                                                    :max="this.plan.max_amount"  
                                                    :step="this.trans.calculator_slider_value" v-model="amount" v-on:input="onInput" 
                                                    class="rangeslider">
                            </div>
                            <table class="table table-striped" >
                                    <thead>
                                        <th>Interest per {{ this.durationText }} {{ this.trans.currency}} </th>
                                        <th>{{ this.trans.total_interest }} ({{ this.trans.currency}})</th>
                                        <th>{{ this.trans.total_return }} ({{ this.trans.currency}})</th>
                                        <th>{{ this.trans.return_on_investment }} </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td> <span style="font-size:150%; color:#282828">{{ termInterest }}</span></td>
                                        <td> <span style="font-size:150%; color:#282828">{{ total }}</span></td>
                                        <td> 
                                                        <span v-if="this.plan.principle_return === 0" style="font-size:150%; color:#282828">
                                                        {{ total }} </span>
                                                        <span v-else style="font-size:150%; color:#282828">{{ totalreturn }}</span>
                                        </td>
                                        <td> 
                                            <span v-if="this.plan.principle_return === 0"  style="font-size:150%; color:#282828">
                                                           {{ roinoreturn }} %</span>
                                            <span v-else  style="font-size:150%; color:#282828">
                                                           {{ roi }} %</span>
                                        </td>
                                        </tr>
                                    </tbody>
                            </table>
                            </div>                
                        </div>
                    </div>
                </div>
</template>

<script>
    import moment from 'moment';
    import router from 'vue-router';
    import containedPeriodicValues from 'contained-periodic-values';
    export default {
            data() {
                return {
                    plans :[],
                    trans :[],
                    plan : {
                        id : '',
                        name: '',
                        min_amount: '',
                        max_amount: '',
                        interest_rate: '',
                        duration_key: '',
                        plantype_id:'',
                        plantype: '',
                    },
                    amount: '',
                    selected: null,
                    total:'',
                    totalreturn: '',
                    roi:'',
                }
            },
            created() {
                axios.get('/investplans') 
                        .then(response =>this.plans = response.data);
                axios.get('/translations')
                        .then(response =>this.trans = response.data);
            },
            computed: {
                        myRoute: function() {
                                console.log($router);
                                return this.$router;
                        },
                        duration: function() {
                                    return this.plan.duration;
                        },
                        weekdays: function () {

                                const startDay = moment().format('d');
                                const totalDays = this.plan.duration;
                                const endDays = parseInt(startDay) + parseInt(totalDays);

                                const containedSundays = containedPeriodicValues(startDay, endDays, 0, 7);
                                const containedSaturdays = containedPeriodicValues(startDay, endDays, 6, 7);
                                
                                return totalDays - (containedSaturdays + containedSundays);
                                  },
                        durationText: function () {
                            if( this.plan.plantype_id == 3 ) {
                                 return "Hour"
                            }else if ( this.plan.plantype_id == 2 ) {
                                return "Daily (Mon - Fri)"
                            }else
                            {
                                return this.plan.duration_key.substring(0, this.plan.duration_key.length-1)
                            }
                        },
                        duartionCyle:function () {
                            if( this.plan.plantype_id == 3 ) {
                                 return this.plan.duration * 24
                            }else if ( this.plan.plantype_id == 2 ) {
                                return this.weekdays;
                            }else 
                            {
                                return this.plan.duration
                            }
                        },
                        termInterest:function () {
                                 return (parseFloat(this.amount * ( this.plan.interest_rate / 100 ))).toFixed(2)
                        },
            },
            methods: {
                onChange:function(){
                        this.plan = this.plans[this.selected]
                        this.amount =  this.plan.max_amount / 2
                        
                        this.total = (this.amount * ( this.plan.interest_rate / 100 )*   this.duartionCyle ).toFixed(2)
                        this.totalreturn = (parseFloat(this.amount) + parseFloat(this.total)).toFixed(2)
                        this.roinoreturn = ((parseFloat(this.total) / parseFloat(this.amount) ) * 100).toFixed(2)
                        this.roi = ((parseFloat(this.totalreturn) / parseFloat(this.amount) ) * 100).toFixed(2)
                },
                onInput:function(){
                        // this.terminterest = (parseFloat(this.amount * ( this.plan.interest_rate / 100 ))).toFixed(2)
                        this.total = (this.amount * ( this.plan.interest_rate / 100 )*  this.duartionCyle).toFixed(2)
                        this.totalreturn = (parseFloat(this.amount) + parseFloat(this.total)).toFixed(2)
                        this.roinoreturn = ((parseFloat(this.total) / parseFloat(this.amount) ) * 100).toFixed(2)
                        this.roi = ((parseFloat(this.totalreturn) / parseFloat(this.amount) ) * 100).toFixed(2)
                }
            }

        }
</script>
