.push-me-top {
  margin-top: -22px !important;
}
#bs-carousel .overlay {
  background-color: rgba(8, 13, 21, 0.15);
}
.card {
    border: 1px solid #d3e0e9;
    background-color: #ffffff;
    min-height: 30px;
    padding: 10px 20px 10px 30px;
    box-shadow: 0 0 6px #ddd;
    border-radius: 6px;
}
.flex-button-group {
	display: inline-flex;
}
.flex-button {
	margin: 0 10px;
}
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  border: 1px solid #d3e0e9;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-bottom: 30px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  max-width: 120px;
  max-height: 120px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
.sidebar-button-group {
	padding:0px 16px;	
}
.v-center {
    display: flex;
    align-items: center;
}
.main-center {
    margin: 20vh 0;
}

.bg-about {
  background-image: url(http://larahyip.dev/uploads/bg/3.jpg); 
  background-size: cover;
  background-position: center center;
  height:15vh;
  min-height:140px;
  }
  .bg-invest {
  background-image: url(http://larahyip.dev/uploads/bg/3.jpg); 
  background-size: cover;
  background-position: center center;
  height:15vh;
  min-height:140px;
  }
  .bg-earn {
  background-image: url(http://larahyip.dev/uploads/bg/3.jpg); 
  background-size: cover;
  background-position: center center;
  height:15vh;
  min-height:140px;
  }
.title-white {
    color: #fff;
    font-weight: 800;
    text-shadow: 2px 2px #8e8e8e;
}


.navbar-default .navbar-nav > li a {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #222;
}

.footer-menu {
    display: flex;
    margin: 10px 0;
    padding : 0;
    list-style:none;
}

.footer-menu-item {
   padding-right:20px;
}

p.trim {
    margin: 0 !important;
}

#datatable .btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}
.boxy {
    border: 1px solid #f3f3f3;
    width:100%;
    display: table;
    border-radius: 4px;
    padding: 10px 0;
    box-shadow: 0 1px 1px rgba(5, 5, 5, 0.10);
}
.boxy-border {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 10px;
}
.boxy-white {
    background-color: #fff;
}
.navbar-footer {
    border-top: 1px solid #d3e0e9;
}
.tab-container {
    border: 1px solid #ddd;
    padding: 10px 40px 20px 20px;
}
.admin-menu a {
    padding: 15px 12px !important;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #5a7688;
    border-color: #5a7688;;
}
.navbar-default {
    z-index: 12000;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.nav-sidebar .active a:hover {
    background-color: #428bca;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}
.flex-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.flex-parent {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.boxy-flex {
      width:24%;
}
.grid-plan-name {
    text-align: center;
    font-size: 120%;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.grid-plan-type {
    text-align: center;
    font-size: 90%;
    font-weight: 700;
}
.grid-interest-rate {
    font-size: 300%;
    text-align: center;
    padding: 20px 0;
    font-family: sans-serif;
}
.grid-plan-duration {
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
    font-family: sans-serif;
}
.grid-plan-min-amount {
    text-align: center;
    font-family: sans-serif;
}
.grid-plan-max-amount {
    text-align: center;
    font-family: sans-serif;
}

.dataTables_wrapper {
    margin: 15px 0;
} 
.admin-brand-image {
  max-height:55px;
  padding-top:10px;
  padding-bottom:10px;
}

.unslider-nav ol li {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 2px solid #3097d1;
    cursor: pointer;
}
.navbar {
    min-height: 80px;
}
.navbar-nav {
    margin-top: 15px !important;
}
.footer-menu-vertical {
    margin-top: 55px;
}
.form-control {
  border: 1px solid #e4e4e4;
  }
.boxy-flex-2 {
    width: 48%;
    margin-right: 10px;
}

#admin-panel .navbar-toggle {
    float: left;
    margin-left: 15px;
}
.brand-image {
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-bar {
    background-color: rgba(0, 0, 0, 0.1);
}
.p-0 {
    width: 300px;
}
.p-0 input[type="submit"] {
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}
.message-bubble-text-right {
    margin-left: 40%;
    width: 60%;
    display: block;
    text-align: right;
    border: 1px solid #98ccbb;
    padding: 10px;
    border-radius: 6px;
    background-color: #d1f1e1;
}
.message-bubble-text-left {
    margin-right: 40%;
    width: 60%;
    display: block;
    border: 1px solid #c8cc98;
    padding: 10px;
    border-radius: 6px;
    background-color: #f1f0d1;
}
.paddingMessage
{
    padding: 20px;
}
.conversation-box {
    padding: 10px;
    border: 1px solid #eee;
    display: block;
    flex: 1;
}
.participant-box {
    min-width: 330px;
    width: 33%;
    padding: 10px;
    border: 1px solid #eee;
    display: block;
}
.badge-group {
    display: flex;
}
.label-default
{
    background-color: #d2d6de;
    color: #444;
}
.label-success
{
    background-color: #00a65a !important;
}
#nav-2-button {
    position: relative;
    top: -310px;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #ddd;
    right: -20px;
}
.responsive
{
    overflow-x:auto;
    overflow-y: hidden;
}
.grid-timer {
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
    width: 200px;
    font-size: 30px;
}