// Body
$body-bg: #fff;

// Background-colors
$bg-color-1 : #fff;
$bg-color-2 : #f5f5f5;
$bg-color-3 : #b5b5b5;

body {
     background-color: $body-bg;
}
.row {
	margin: 0;
}
.bg-color-1 {
	background-color: $bg-color-1;
}
.bg-color-2 {
	background-color: $bg-color-2;
}
.bg-color-3 {
	background-color: $bg-color-3;
}
.dark-footer {
    background-color: #fff;
    border-top: 1px solid #d3e0e9;
}
.page-content {
    margin: 60px 0;
}
.plan-grid {
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    padding: 0;
    margin-bottom: 40px;
}
.plan-list-item {
    background-color: #fff;
    width: 250px;
    flex-wrap: wrap;
}
.dl-horizontal dt {
    width: 130px;
}
.dl-horizontal dd {
    margin-left: 140px;
}