.grid  {
	display: grid;
}

.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
	grid-template-columns: auto;
}

.gc-5 {
	grid-gap:5px;
}
.gc-10 {
	grid-gap:10px;
}
.gc-15 {
	grid-gap:15px;
}
.gc-20 {
	grid-gap:20px;
}
.gc-30 {
	grid-gap:30px;
}
.gc-40 {
	grid-gap:40px;
}
.gc-50 {
	grid-gap:50px;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
	
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	.grid-2 {
   			grid-template-columns:repeat(2, auto);
   		}
		.grid-3, .grid-6  {
			grid-template-columns:repeat(3, auto);
		}
		.grid-4, .grid-8 {
			grid-template-columns:repeat(4, auto);
		}
		
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
   		
   		.grid-2 {
   			grid-template-columns:repeat(2, auto);
   		}
		.grid-3  {
			grid-template-columns:repeat(3, 1fr);
		}
		.grid-4 {
			grid-template-columns:repeat(4, auto);
		}
		.grid-5  {
			grid-template-columns:repeat(5, auto);
		}
		.grid-6  {
			grid-template-columns:repeat(6, auto);
		}
		.grid-7 {
			grid-template-columns:repeat(7, auto);
		}
		.grid-8 {
			grid-template-columns:repeat(8, auto);
		}
		.grid-9 {
			grid-template-columns:repeat(9, auto);
		}
		.grid-10 {
			grid-template-columns:repeat(10, auto);
		}
		.grid-11 {
			grid-template-columns:repeat(11, auto);
		}
		.grid-12 {
			grid-template-columns:repeat(11, auto);
		}
		.grid-2-300-auto, .grid-3-200-auto {
			grid-template-columns:200px auto;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {


    }

 