/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.navbar-nav {
    		margin-top: 0px !important;
	}
	.admin-menu {
    		text-align: left;
	}
	.navbar-fixed-top-2 {
		top: 50px;
	}
	li.admin-menu .glyphicon {
    		font-size:15px;
    		padding:5px;
	}
	.card {
	margin: 10px 0;
	}
	.deposit-grid {
		display: grid;
		grid-template-columns: auto;
		background-color: #eaeaea;
		padding: 20px;
		border-radius: 4px;
		box-shadow: 0 0 5px 1px #ccc;
	}
	
	.navbar-brand>img {
	     max-width: 210px;
	}
	.footer-ssl-logo {
    		max-width: 280px;
	}
	.v-center {
		display: block;
	}
	.unslider-arrow.next {
	    left: auto;
	    right: 80%;
	}
	ul.footer-menu-mobile {
	    padding: 0;
	    margin: 0;
	}
	.footer-menu-mobile li {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    line-height: 2em;
	    display: block;
	    padding: 5px;
	    border-bottom: 1px solid #ccc;
	}
	#admin-panel .navbar {
    		min-height: 50px;
	}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
	.navbar-brand>img {
	     max-width: 100%;
	}
	.footer-ssl-logo {
    		max-width: 100%;
	}
	.v-center {
		display: block;
	}
	.deposit-grid {
		display: grid;
		grid-template-columns: auto;
		background-color: #eaeaea;
		padding: 20px;
		border-radius: 4px;
		box-shadow: 0 0 5px 1px #ccc;
	}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	.navbar-nav {
    		margin-top: 15px !important;
	}

    	ul.footer-menu-mobile {
	    padding: 0;
	    margin: 0;
	}
	.v-center {
		display: block;
	}
	.footer-menu-mobile li {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    line-height: 2em;
	    display: block;
	    padding: 5px;
	    border-bottom: 1px solid #ccc;
	}
	.unslider-arrow.next {
	    left: auto;
	    right: 90%;
	}
	.deposit-grid {
		display: grid;
		grid-template-columns: auto auto;
		background-color: #eaeaea;
		padding: 20px;
		border-radius: 4px;
		box-shadow: 0 0 5px 1px #ccc;
	}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	.navbar-nav {
    		margin-top: 15px !important;
	}
    	.card {
	margin:0;
	}
	.deposit-grid {
		display: grid;
		grid-template-columns: auto auto auto auto;
		background-color: #eaeaea;
		padding: 20px;
		border-radius: 4px;
		box-shadow: 0 0 5px 1px #ccc;
	}
	.navbar-nav {
    		margin-top: 15px !important;
	}
    	.unslider-arrow.next {
    	left: auto;
   	 right: 80%;
   	}
   	.v-center {
		display: flex;
	}
	li.admin-menu.open .dropdown-menu {
		display: grid;
		grid-template-columns: 200px 200px 200px;
	}

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	.navbar-nav {
    		margin-top: 15px !important;
		}
		.deposit-grid {
			display: grid;
			grid-template-columns: auto auto auto auto;
			background-color: #eaeaea;
			padding: 20px;
			border-radius: 4px;
			box-shadow: 0 0 5px 1px #ccc;
		}

    }

 