.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}
.p-40 {
    padding: 40px;
}
.p-50 {
    padding: 50px;
}
.p-100 {
    padding: 100px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-50 {
    padding-bottom: 50px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top:40px;
}
.mt-50 {
    margin-top:50px;
}
.mt-100 {
     margin-top: 100px;
}
.mt-105 {
    margin-top: 105px;
}
.mt-120 {
         margin-top: 120px;
}

.mb-0 {
	margin-bottom : 0px !important;
}
.mb-10 {
        margin-bottom: 10px;
}

.mb-20 {
       margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-100 {
    margin-bottom: 100px;
}
.spacer-60 {
    min-height: 60px;
}
.spacer-80 {
    min-height: 80px;
}
.spacer-100 {
    min-height: 100px;
}
.spacer-120 {
    min-height: 120px;
}




